
body {
    background-color: #a9a8b5;
}

textarea, input[type="url"], input[type="text"] {
    background-color: #c3c8d4 !important;
    color: #013677 !important;
}

.form-table th {
    color: #013677;
}

#submit {
    background-color: #e86c3e !important;
}

img.slide-in-admin {
    width: 250px;
    padding: 5px;
    background: #c3c8d4;
    float: right;
}

button#upload-slide-1 {
    margin-right: 15px;
}

div#slide1-change {
    display: block;
    color: #f0ddca;
    width: 377px;
}
